#contactSection{
    margin-bottom:120px;
}

.inputBox{
    position:relative;
}
.inputBox input{
    padding:10px 0;
    margin-bottom:30px;
    border:none;
    border-bottom:2px solid var(--gray);
    outline:none;
    background:transparent;
    width:300px;
}
.inputBox label{
    z-index: 1;
    color:var(--gray);
    position:absolute;
    top:0;
    left:0;
    padding:10px 0;
    pointer-events:none;
    transition:.25s;
}
.inputBox label > strong{
    color:var(--tertiary-pink);
}

.inputBox input:focus{
    border-color:white;
}

.inputBox input:focus ~ label, .inputBox input:valid ~ label{
    top:-25px;
    left:0;
    color:var(--accent);
    font-size:16px;
}

textarea{
    padding:10px;
    background:transparent;
    border-radius:10px;
}

#contactSection > form{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
#formIntro{
    display:flex;
    flex-direction:row;
    margin-bottom:20px;
}
.shortInputs{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    gap:40px;
    max-width:800px;
}

#formConclusion{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:20px;
}

#formConclusion > textarea{
    width:600px;
    max-width:66vw;
}

.formResponseMessage{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.formResponseMessage > span{
    text-align:center;
}

.successMessage{
    background:rgba(94, 252, 141, .15);
    color:var(--tertiary-green);
    margin:0 10px;
    padding:15px 20px;
    border-radius:10px;
}

.errorMessage{
    background:rgba(241, 93, 77, .15);
    color:rgb(241, 93, 77);
    padding:10px;
    border-radius:10px;
}