#helloSection{
    height:calc(100vh - 90px);
    width:100vw;
    display:flex;
    flex-direction:row;
    padding-left:30px;
}
#helloTextSection{
    position:absolute;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}
.textGradient2{
    width:fit-content;
    background:var(--gradient-2);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    background-clip:text;
}
#helloSubNameText{
    color:var(--gray);
}
#helloButtonSection{
    width:fit-content;
    display:flex;
    flex-direction:row;
    gap:20px;
    margin-top:15px;
    justify-content:center;
    align-items:center;
}
#portraitBorder{
    position:absolute;
    background:var(--gradient-3);
    width:max(35vw, 35vh);
    height:max(35vw, 35vh);
    border-radius:100%;
}
#portrait{
    position:relative;
    width:98%;
    height:98%;
    top:1%;
    left:1%;
    background-image:url("/assets/img/portrait-min.webp");
    background-size:150%;
    background-position:45% 80%;
    border-radius:100%;
    resize:both;
}

@media screen and (max-width:830px){
    #helloSection{
        height:calc(100vh - 90px);
        flex-direction:column;
        justify-content:center;
        align-items: center;
        gap:50px;
    }
    #helloSection > .halfSection:first-child{
        order:2;
    }
    #helloSection > .halfSection:nth-child(2){
        order:1;
        height:max(35vh, 35vw);
    }
    #helloTextSection{
        position:relative;
        align-items:center;
        text-align:center;
    }
}
@media screen and (max-width:680px) {
    #helloSection{
        padding:0;
    }
    #helloButtonSection{
        flex-wrap:wrap;
    }
    #helloSection .halfSection:nth-child(2){
        display:none;
    }
}